doc/xml_schemas/lands/info.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="land">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="name" type="xsd:string"/>
				<xsd:element name="description" type="xsd:string"/>
				<xsd:element name="position">
					<xsd:complexType>
						<xsd:attribute name="x" type="xsd:nonNegativeInteger"/>
						<xsd:attribute name="y" type="xsd:nonNegativeInteger"/>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
